<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net40" />
  <package id="iTextSharp" version="5.5.10" targetFramework="net40" />
  <package id="linq2db" version="1.0.7.1" targetFramework="net40" />
  <package id="linq2db.SQLite" version="1.7.6" targetFramework="net40" />
  <package id="linq2db.t4models" version="1.0.7.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40-client" />
  <package id="System.Data.SQLite" version="1.0.104.0" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.104.0" targetFramework="net40" />
  <package id="System.Data.SQLite.EF6" version="1.0.104.0" targetFramework="net40" />
  <package id="System.Data.SQLite.Linq" version="1.0.104.0" targetFramework="net40" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net40" />
</packages>